  .gradient-background {
    top: -25%; 
    left: -25%; 
    width: 150vw; 
    height: 150vh; 
    background: conic-gradient(
      from 105deg,
      #101020,
      #0a0615 80deg,
      #333080,
      #f0e8ff

    );
    position: fixed;
    transform: translateY(0); /* Initial position */
  }

  .major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    line-height: 2px; /* 3.125% */
    letter-spacing: 27.52px;
    color: rgb(197, 191, 34);
  }

  .text-container {
    mix-blend-mode: difference;
  }
  
  :root {
    overscroll-behavior: none;
  }