  /* ROOT SETTINGS */

  :root {
    overscroll-behavior: none;
    overflow-x: hidden;
  }

  .text-color-blend {
    mix-blend-mode: difference;
  }

  .no-blend {
    z-index: 10;
    position: relative; /* To upewnia, że z-index działa */
}

/* GRADIENT STYLE */
.gradient-background {
  top: -25%; 
  left: -25%; 
  width: 150vw; 
  height: 150vh; 
  position: fixed;
  transform: translateY(0);
  z-index: -1; 
  transition: background 1s ease; 
}

/* Stylizacja dla przycisków */
.color-switcher {
  position: fixed;
  bottom: 20px;  
  left: 20px;    
  display: flex;
  gap: 10px;     
  z-index: 1000; 
}

.lang-switcher {
  position: fixed;
  bottom: 20px;  
  right: 20px;    
  display: flex;
  gap: 10px;    
  z-index: 1000; 
}

.circle-switcher {
  background: #456BD9;
  border: 1px solid #0F1C3F;
  border-radius: 50%;
  /* box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125); */
  height: 4vh;
  width: 4vh;
  /* position: fixed;
  bottom: 20px;  
  right: 20px;   
  z-index: 1000;  */

}

.color-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #ccc; 
}

#color1 {
  background-color: #101020; 
}

#color2 {
  background-color: #000000; 
}

#color3 {
  background-color: #ffffff; 
}

 /* FONT STYLE SETTINGS */

.major-mono-display-font {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.6%;
  color: rgb(255, 255, 255);
} 

.major-mono-display-regular-title {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  line-height: 2px; 
  letter-spacing: clamp(2px, 3vw, 27.52px); /* Dynamicznie dostosowany odstęp między literami */
  color: rgb(255, 255, 255);
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: clamp(1px, 1.5vw, 18.52px); /* Dynamicznie dostosowany odstęp między literami */
  color: rgb(255, 255, 255);
}

.major-mono-display-t {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: clamp(1px, 1.5vw, 12.52px); /* Dynamicznie dostosowany odstęp między literami */
  color: rgb(255, 255, 255);
}

.major-mono-display-h4 {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: clamp(1px, 1vw, 4.52px); 
  color: rgb(255, 255, 255);
}

.major-mono-display-p {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  /* letter-spacing: clamp(0.5px, 0.75vw, 3px);  */
  color: rgb(255, 255, 255);
}


.major-mono-display-p-mb5 {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.6%;
  /* letter-spacing: clamp(0.5px, 0.75vw, 3px);  */
  color: rgb(255, 255, 255);
}

  .bolder {
    font-weight: 500;
  }

  .box-test {
    height: 30px;
    width: 30px;
  } 

  /* MEDIA QUERIES RESPONSIBLE FOR CHANGING THE SIZE OF FONT FOR MOBILE SCREENS */
  @media (max-width: 768px) {
    p {
      font-size: 77%; 
    }
  }


  @media (max-width: 768px) {
    .major-mono-display-h4 {
      font-size: 110%; 
    }
  }

  @media (max-width: 768px) {
    .major-mono-display-t {
      font-size: 100%; 
    }
  }

  @media (max-width: 768px) {
    .major-mono-display-regular {
      font-size: 120%; 
    }
  }


    
  /* SIDE SCROLLING SETTINGS */

  .panel {
    /* width: 1444px; */
    height: 100%;
    min-width: 90vw;
  }

  /* TEXT SPACER */
  .text-spacer {
    height: 1px;
    margin-bottom: 16px;
    margin-top: 2px;
    background-color: rgb(255, 255, 255);
    width: 10%;  
    transition: width 0.5s ease; 
}

  /* SEGMENT SPACER  */
  .segment-spacer {
    height: 60vh;
  }
  .w-10 {
    width: 10%;
  }

  :root {
    overscroll-behavior: none;
    overflow-x: hidden;
  }

  body {
    overscroll-behavior-x: none; /* Zapobiega przewijaniu przez nadmiar zawartości */
    overflow-x: hidden; /* Ukrywa pasek przewijania poziomego */
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
  margin:auto;
}