  /* ROOT SETTINGS */

  :root {
    overscroll-behavior: none;
    overflow-x: hidden;
  }


  /* GRADIENT STYLE */
  
  .gradient-background {
    top: -25%; 
    left: -25%; 
    width: 150vw; 
    height: 150vh; 
    background: conic-gradient(
      from 105deg,
      #101020,
      #0a0615 80deg,
      #333080,
      #f0e8ff

    );
    position: fixed;
    transform: translateY(0); /* Initial position */
  }

  /* FONT STYLE SETTINGS */

  .major-mono-display-regular-title {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    /* line-height: 2px; 3.125% */
    font-size: 30px;
    line-height: 2px; /* 3.125% */
    letter-spacing: 27.52px;
    color: rgb(197, 191, 34);
  }

  .major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    /* line-height: 2px; 3.125% */
    letter-spacing: 27.52px;
    /* color: rgb(197, 191, 34); */
    color: rgb(255, 255, 255);
  }

  .major-mono-display-t {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    /* line-height: 2px; 3.125% */
    letter-spacing: 15.52px;
    /* color: rgb(178, 173, 21); */
    color: rgb(240, 240, 240);

  }

  .major-mono-display-p {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    /* line-height: 2px; 3.125% */
    /* color: rgb(151, 147, 21); */
    color: rgb(245, 245, 245);

  }

  .text-color-blend {
    mix-blend-mode: difference;
  }

  .box-test {
    height: 30px;
    width: 30px;
  } 

  /* SIDE SCROLLING SETTINGS */

  .panel {
    /* width: 1444px; */
    height: 100%;
    min-width: 90vw;
  }

  /* TEXT SPACER */

  .text-spacer {
    height: 1px;
    margin-bottom: 9px;
    margin-top: 2px;
    /* background-color: rgb(178, 173, 21); */
    background-color: rgb(255, 255, 255);
  }

  :root {
    overscroll-behavior: none;
    overflow-x: hidden;
  }
